h1,h2,h3,h4,h5,h6,body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    color: black;
    font-variant: small-caps;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 80px;
}

.container-fluid {
    width: 100%;
}

#cabecera {
    min-height: 800px;
    background-color: azure;
    background-size: cover;
}

/*MENU INICIO*/
#menu {
    height: 80px;
    width: 100%;
    display:flex;
    justify-content: center;
    position: fixed;
    background-image: linear-gradient(0deg,rgba(255,255,255,0.00)0%, #000000 100%);
}

#menu ul {
    padding: 0;
}

#menu li{
    list-style-type: none;
    padding: 0;
}

#menu>ul>li {
    display: inline-block;
}

/* Quita El Subrayado */
#menu li a {
    text-decoration: none;
    color: white;
}

#menu>ul>li>a {
    padding: 10px;
    transition: 0.5s;
}

#menu>ul>li>a:hover {
    background-color: rgba(114, 14, 158, 1.0);
}

#menu li ul {
    display: none;
}
/*MENU FIN*/

/*NOTA SECUNDARIA INICIO*/
#notas-secundarias {
    min-height: 300px;
    width: 950px;
    display: inline-block;
}

#notas-secundarias article {
    display: flex;
    background-image: url(../images/separacion-notas.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.imagen-nota-secundaria {
    position: relative;
}

.sombra-imagen {
    box-shadow: 0px 0px 20px black;
}

.titulo-nota-secundaria {
    font-size: 1.7em;
    line-height: 0.9em;
    margin-top: 20px;
    font-variant: small-caps;
    text-align: center;
}

.cuerpo-nota-secundaria {
    padding-left: 0px;
    padding-right: 10px;
}

.intro-nota-secundaria {
    text-align: justify;
    margin: 15px 0;
}

.boton {
    background: rgba(114, 14, 158, 1.0);
    display: inline-block;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
}

.boton>div {
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7);
}

.boton p {
    color: white;
    font-variant: small-caps;
    font-size: 1.1em;
}
/*NOTA SECUNDARIA FIN*/

/*PUBLICIDAD INICIO*/
#publicidad {
    height: 300px;
    width: 220px;
    display: inline-block;
}

#publicidad img {
    width: 210px;
    margin: 10px 5px;
}

#redes-sociales {
    text-align: center;
    margin-bottom: 10px;
}

.facebook, .twitter {
    width: 33px;
    height: 33px;
    display: inline-block;
    text-indent: -9999px;
    transition: 0.2s;
}

.facebook {
    background: url('../images/facebook_twitter.png') 0 0;
}

.facebook:hover {
    background: url('../images/facebook_twitter.png') 0 -43px;
}

.twitter {
    background: url('../images/facebook_twitter.png') -43px 0;
}

.twitter:hover {
    background: url('../images/facebook_twitter.png') -43px -43px;
}
/*PUBLICIDAD FIN*/

#exitos{
    border-top: 5px double rebeccapurple;
    border-bottom: 5px double rebeccapurple;
}

.imagen-exito{
    display: inline-flex;
    margin-bottom: 20px;
}

#exitos img{
    width: 130px;
    height: 90px;
    margin: 10px 5px;
}

#exitos p {
    font-size: 2em;
    font-variant: small-caps;
    text-align: center;
}

/*PIE INICIO*/
#pie {
    min-height: 150px;
    margin-top: 50px;
}

#politicas {
    text-align: center;
    border-bottom: 3px dotted rebeccapurple;
    padding: 10px 0;
    color: mediumpurple;
}

#social-links {
    background-image: linear-gradient(0deg,rgba(255,255,255,0.00)0%, #720e9e 100%);
    width: 100%;
}

#social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#social-links ul li {
    display: inline-block;
    list-style: none;
}
/*PIE FIN*/

.flexible {
    display: flex;
}